<h1>MAC Trac</h1>
<h2>Search for MAC Addresses</h2>
<form class="form-horizontal MACAddress">
  <input id="MAC" class="col-sm-10" type="text">
  <button class="search btn btn-submit">Search</button>
</form>
<h3>Search Results:</h3>
<ul class="search_results"></ul>

<div id="MACAddr"></div>
<div id="timestamp"></div>
<div id="username"></div>
<div id="description"></div>
<div id="type"></div>
<div id="IPAddr"></div>
<div id="deptOwner"></div>

<div id="register">
  <button type="button" class="btn btn-primary btn-block" onclick="location.href='/register'">Register New Device</button>
</div>
