<h2>Register New Device</h2>
<form id="addDevice" action="/add" method="post">
    <table>
        <tr>
            <td>MAC Address:
            <td><input type="text" name="MACAddress">
        </tr>
        <tr>
            <td>Description:
            <td><input type="text" name="description">
        </tr>
        <tr>
            <td>Device Type:
            <td><input type="text" name="type">
        </tr>
        <tr>
            <td><input type="submit" value="Submit">
        </tr>
    </table> 
</form>

<div id="Home">
    <button type="button" class="btn btn-primary btn-block" onclick="location.href='/'">Home</button>
</div>