<h1>MAC Trac</h1>
<h2>Submit a New Device</h2>

<div id="MACAddr"></div>
<div id="timestamp"></div>
<div id="username"></div>
<div id="description"></div>
<div id="type"></div>
<div id="IPAddr"></div>
<div id="deptOwner"></div>