<h1>MAC Trac</h1>
<h2>Register New Device</h2>


<div id="MACAddr"></div>
<div id="timestamp"></div>
<div id="username"></div>
<div id="description"></div>
<div id="type"></div>
<div id="IPAddr"></div>
<div id="deptOwner"></div>

<div id="home">
  <a href="/">Home</a>
</div>